/* Google Font Add */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
/* Reusable CSS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "lato";
}

.container {
  width: 1280px;
  margin: auto;
}

.btn {
  padding: 15px 30px;
  border: 1px solid #e55473;
  border-radius: 8px;
  background-color: #e55473;
  font-weight: 600;
  font-size: 16px;
  color: #fff;
  transition: 0.5s;
}
.btn:hover {
  background-color: #ffffff00;
  color: #e55473;
}

/* Banner Css */
.banner_section {
  background-color: #e5547335;
}
.banner_main {
  display: flex;
  height: 90vh;
}
.banner_left {
  margin: auto;
}
.banner_left .banner_title {
  font-family: "lato";
  font-size: 56px;
  width: 60%;
  line-height: 1.1em;
}

.banner_left .banner_description {
  font-size: 18px;
  margin: 40px 0px;
  width: 70%;
  line-height: 1.5em;
  color: hsla(0, 0%, 15%, 0.6);
}

.banner_right {
  align-self: flex-end;
  margin-bottom: -4px;
}

.banner_right img {
  width: 110%;
}

/* our featured CSS */
.our_featured {
  background-color: #fff;
}

.our_featured_main {
  margin: auto;
  padding: 5% 0;
}

.ourfeatured_top_part {
  text-align: center;
}

.ourfeatured_top_part .ourfeatured_title {
  font-size: 40px;
  font-weight: 800;
  padding: 20px 0;
  text-transform: capitalize;
}

.ourfeatured_top_part .ourfeatured_description {
  width: 40%;
  margin: auto;
  font-weight: 400;
  line-height: 1.5em;
}

.ourfeatured_bottom_part {
  display: flex;
  gap: 20px;
  padding: 40px 0;
}
.ourfeatured_bottom_part img {
  width: 100%;
}

.ourfeatured_bottom_part .img_box_title {
  text-align: center;
  text-decoration: underline;
  padding-top: 24px;
}
